ubiquity    languagechooser/language-name   select  English
ubiquity    countrychooser/shortlist    select  US 
ubiquity    time/zone   select  America/Los_Angeles 
ubiquity    debian-installer/locale select  en_US.UTF-8 
ubiquity    localechooser/supported-locales multiselect en_US.UTF-8 
ubiquity    console-setup/ask_detect    boolean false 
ubiquity    console-setup/layoutcode    string  us
ubiquity    console-setup/modelcode string  SKIP
ubiquity    keyboard-configuration/variant  select  English (US)
ubiquity    keyboard-configuration/layout   select  English (US)
ubiquity    keyboard-configuration/model    select  Generic 105-key (Intl) PC
ubiquity    console-keymaps-at/keymap   select  us
ubiquity    keyboard-configuration/xkb-keymap   select  us
console-setup   console-setup/layoutcode    string  us
console-setup   console-setup/layout    select  U.S. English
console-setup   console-setup/variantcode   select  U.S. English
keyboard-configuration console-setup/ask_detect boolean false
keyboard-configuration console-setup/detected note
keyboard-configuration keyboard-configuration/model select Generic 105-key (Intl) PC