[Desktop Entry]
Name=nkswallpaper-old
X-KDE-PluginInfo-Name=nkswallpaper-old
X-KDE-PluginInfo-Author=NKSTEAM
X-KDE-PluginInfo-Email=laze-hawkers0h@icloud.com
X-KDE-PluginInfo-License=GPLv3