 [Desktop Entry]
 Version=1.0
 Name=Intro Movie NKSOS        
 Comment=Play Intro Movie
 Exec=konsole "bash -c '/nks/intro.sh;$SHELL'"
 Icon=utilities-terminal
 Terminal=false
 Type=Application
 Categories=Application;