[Desktop Entry]
Name=SetupLive
Comment=SetupLive
Exec=/usr/bin/setup-live
StartupNotify=false
Terminal=false
Type=Application
X-KDE-PluginInfo-Author=SasaKen
X-KDE-PluginInfo-Email=kenta@nksteam.com
