keyboard-configuration keyboard-configuration/model select Generic 105-key (Intl) PC
locales locales/locales_to_be_generated multiselect     en_US.UTF-8 UTF-8
locales locales/default_environment_locale      select  en_US.UTF-8
console-setup	console-setup/fontface47	select	Fixed
console-setup	console-setup/codeset47	select	Guess optimal character set
console-setup	console-setup/fontsize-text47	select	8x16
console-setup	console-setup/codesetcode	string	guess
console-setup	console-setup/fontsize-fb47	select	8x16
console-setup	console-setup/store_defaults_in_debconf_db	boolean	true
keyboard-configuration	console-setup/detect	detect-keyboard	
console-setup	console-setup/charmap47	select	UTF-8
console-setup	console-setup/fontsize	string	8x16
keyboard-configuration	console-setup/ask_detect	boolean	false
keyboard-configuration	console-setup/detected	note	