[Desktop Entry]
Name=nks-wallpaper
X-KDE-PluginInfo-Name=nks-wallpaper
X-KDE-PluginInfo-Author=NKSTEAM
X-KDE-PluginInfo-Email=laze-hawkers0h@icloud.com
X-KDE-PluginInfo-License=GPLv3