[Desktop Entry]
Name=NKS Wallpaper 1 (Old)
X-KDE-PluginInfo-Name=nks-wallpaper-old
X-KDE-PluginInfo-Author=NKSTEAM
X-KDE-PluginInfo-Email=laze-hawkers0h@icloud.com
X-KDE-PluginInfo-License=GPLv3